body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 800px;
    height: 600px; /* Increased height for more space */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.left {
    flex: 1;
    background-color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 80%;
    height: auto;
}

.right {
    flex: 1;
    background-color: #F39C12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 60px; /* Increased padding for more space */
}

.right h2 {
    margin-bottom: 20px;
    color: #FFF;
}

.right form {
    width: 100%;
}

.right form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.right form button {
    width: 100%;
    padding: 10px;
    background-color: #2C3E50;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.right form button:hover {
    background-color: #34495E;
}

.right p {
    margin-top: 20px;
    color: #FFF;
}

.right p a {
    color: #FFF;
    text-decoration: underline;
}



